/* --- TrophyMain.css --- */

.trophy-main-container {
  padding-top: 120px;
  padding-bottom: 50px;
  min-height: 90vh;
}

.trophy-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  max-width: 250px;
  width: 100%; 
  text-decoration: none;
  height: 100%; 
  margin: 0 auto;
  background-color: #202020; 
}

.trophy-card:hover {
  transform: scale(1.05);
  z-index: 10; 
}

.trophy-card .trophy-main-card-img {
  width: 100%;
  height: 350px; 
  object-fit: cover; 
  object-position: center top; 
  transition: transform 0.3s ease, filter 0.3s ease;
  display: block; 
  border-radius: 12px 12px 0 0;
}

.trophy-card:hover .trophy-main-card-img {
  filter: brightness(0.6);
}

.progress-container {
  width: 100%;
  height: 22px;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  flex-shrink: 0; 
  border-radius: 0 0 12px 12px;
}

.progress-bar-custom {
  height: 100%;
  background: #dc3545;
  transition: width 0.5s ease-in-out;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  border-radius: 0;
  width: 0%;
}

.progress-bar-custom p {
  margin: 0;
}

.hover-number {
  position: absolute;
  bottom: 32px; 
  right: 10px;
  z-index: 2;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background: rgba(0,0,0,0.6);
  padding: 4px 8px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.trophy-card:hover .hover-number {
  opacity: 1;
}

.platinum-overlay {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) scale(0.5) rotate(-15deg);
  z-index: 10; 
  color: #dc3545;
  font-size: 4rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  pointer-events: none; 
}

.trophy-card:hover .platinum-overlay {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(0deg); 
}

.platinum-overlay i {
  color: inherit; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

.trophy-main-line {
  height: 2px;
  width: 100%;
  background-color: #ffffff; /* <--- ALTERADO PARA BRANCO */
  margin: 10px 0 30px 0;
  border-radius: 5px;
}

.header-container {
    padding: 0 10px;
}